Flask-API==1.0
Flask==1.0.2
Markdown==2.6.11
Sphinx==1.7.4

#requests==2.18.4
#responses==0.9.0
boto3==1.7.28
#bs4==0.0.1
#gogs_client==1.0.6
coveralls==1.3.0
python-json-logger==0.1.8
#markdown2==2.3.5
#future==0.16.0
#pyparsing==2.2.0
#usfm-tools==0.0.22
-e git+https://github.com/unfoldingWord-dev/USFM-Tools.git@python2plus3#egg=usfm-tools
mock==2.0.0
#moto==1.3.3
pyyaml==3.12
#pymysql==0.8.1
sqlalchemy==1.2.7
